<html>
    <head>
        <title>{{ exception.message }}</title>
    </head>
    <body bgcolor="white">
        <center><h1>{{ exception.message }}</h1></center>
        <hr>
        <center>Owsproxy 3</center>
    </body>
</html>